<section class="wrapper-section">
  <div class="container">
    <h2 class="feed-title">Contents Strategies</h2>
    <p class="feed-txt">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>
    <ul class="feed-list">
      <li class="feed-item">
        <img
          src="/img/index/feed_1.jpg"
          alt="feed news"
          width="350"
          height="185"
        />
        <div class="feed-card">
          <p class="feed-txt-by">
            By <span class="feed-txt-by-part">Wahid Ari</span> | 03 March 2019
          </p>
          <h3 class="feed-card-title">
            Increasing Prosperity With Positive Thinking
          </h3>
        </div>
      </li>
      <li class="feed-item">
        <img
          src="/img/index/feed_2.jpg"
          alt="feed news"
          width="350"
          height="185"
        />
        <div class="feed-card">
          <p class="feed-txt-by">
            By <span class="feed-txt-by-part">Wahid Ari</span> | 03 March 2019
          </p>
          <h3 class="feed-card-title">
            Motivation Is The First Step To Success
          </h3>
        </div>
      </li>
      <li class="feed-item">
        <img
          src="/img/index/feed_3.jpg"
          alt="feed news"
          width="350"
          height="185"
        />
        <div class="feed-card">
          <p class="feed-txt-by">
            By <span class="feed-txt-by-part">Wahid Ari</span> | 03 March 2019
          </p>
          <h3 class="feed-card-title">
            Success Steps For Your Personal Or Business
          </h3>
        </div>
      </li>
    </ul>
  </div>
</section>
