<section class="wrapper-section">
  <div class="container flex-container">
    <div class="collab-box">
      <h2 class="secondary-title">
        Optimisation for
        <span class="secondary-title-part">Collaborative</span>
      </h2>
      <p>
        Few would argue that, despite the advancements of feminism over the past
        three decades, women still face a double standard when it comes to their
        behavior.
      </p>
      <ul class="sections-list">
        <li>
          <strong>Accessory makers</strong>
          <p>
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li>
          <strong>Alterationists</strong>
          <p>
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <svg width="540" height="500">
      <use href="img/index/collaboration-img.svg#img"></use>
    </svg>
  </div>
</section>
