<section class="wrapper-faq">
  <div class="container">
    <h2 class="secondary-title-part price-center">Price Table</h2>
    <p class="price-center">We offer competitive price</p>
    <ul class="price-list">
      <li class="price-item">
        <strong class="price-card-title">Free</strong>
        <p class="price-card-descr">Brief price description</p>
        <div class="price-box">
          <span class="price-value">0</span>
          <div class="price-sub-box">
            <span class="price-currency">&dollar;</span>
            <p class="price-txt">Per / month</p>
          </div>
        </div>
        <ul class="price-card-list">
          <li class="price-card-item">Only 2 Operators</li>
          <li class="price-card-item">Notifications</li>
          <li class="price-card-item">Landing Pages</li>
        </ul>
        <button type="button" class="price-bttn">Order Now</button>
      </li>
      <li class="price-item">
        <strong class="price-card-title">Standard</strong>
        <p class="price-card-descr">Brief price description</p>
        <div class="price-box">
          <span class="price-value">5</span>
          <div class="price-sub-box">
            <span class="price-currency">&dollar;</span>
            <p class="price-txt">Per / month</p>
          </div>
        </div>
        <ul class="price-card-list">
          <li class="price-card-item">5+ Operators</li>
          <li class="price-card-item">Notifications</li>
          <li class="price-card-item">Landing Pages</li>
        </ul>
        <button type="button" class="price-bttn">Order Now</button>
      </li>
      <li class="price-item">
        <strong class="price-card-title">Premium</strong>
        <p class="price-card-descr">Brief price description</p>
        <div class="price-box">
          <span class="price-value">10</span>
          <div class="price-sub-box">
            <span class="price-currency">&dollar;</span>
            <p class="price-txt">Per / month</p>
          </div>
        </div>
        <ul class="price-card-list">
          <li class="price-card-item">10+ Operators</li>
          <li class="price-card-item">Notifications</li>
          <li class="price-card-item">Landing Pages</li>
        </ul>
        <button type="button" class="price-bttn">Order Now</button>
      </li>
    </ul>
  </div>
</section>
