<section class="wrapper-faq">
  <div class="staff-container">
    <h2 class="secondary-title-part">Quick & Easy Process</h2>
    <p class="staff-txt">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="staff-list">
      <li class="staff-list-item">
        <div class="staff-avatar-box">
          <img width="98" height="98" src="img/index/avatar.jpg" alt="avatar" />
        </div>
        <div class="staff-item-box">
          <p class="staff-item-txt">I can take care of your pitch</p>
        </div>
      </li>
      <li class="staff-list-item">
        <div class="staff-item-box">
          <p class="staff-item-txt">I can prototype your app</p>
        </div>
        <div class="staff-avatar-box">
          <img width="98" height="98" src="img/index/avatar.jpg" alt="avatar" />
        </div>
      </li>
      <li class="staff-list-item">
        <div class="staff-item-box">
          <p>I can take care of your pitch</p>
        </div>
        <div class="staff-avatar-box">
          <img width="98" height="98" src="img/index/avatar.jpg" alt="avatar" />
        </div>
      </li>
      <li class="staff-list-item">
        <div class="staff-avatar-box">
          <img width="98" height="98" src="img/index/avatar.jpg" alt="avatar" />
        </div>
        <div class="staff-item-box">
          <p class="staff-item-txt">I can help marketing strategy</p>
        </div>
      </li>
    </ul>
    <button type="button" class="staff-bttn">Contact our expert</button>
  </div>
</section>
