<!-- #region Feedback -->
<section class="wrapper-section">
  <div class="container">
    <h2 class="secondary-title-part feedback-title">What Clients Say</h2>
    <p class="feedback-txt">
      Problems trying to resolve the conflict between<br />
      the two major realms of Classical physics: Newtonian mechanics
    </p>
    <ul class="feedback-list">
      <li class="feedback-item">
        <svg width="106" height="18">
          <use href="/img/index/icons.svg#icon-stars"></use>
        </svg>
        <p class="feedback-card-txt">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="feedback-box">
          <div class="feedback-box-avatar">
            <img
              src="/img/index/avatar.jpg"
              width="50"
              height="50"
              alt="avatar"
            />
          </div>
          <div class="feedback-name-box">
            <p class="feedback-card-names">Wahid Ari</p>
            <span class="feedback-card-names-part">Designer</span>
          </div>
        </div>
      </li>
      <li class="feedback-item">
        <svg width="106" height="18">
          <use href="/img/index/icons.svg#icon-stars"></use>
        </svg>
        <p class="feedback-card-txt">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="feedback-box">
          <div class="feedback-box-avatar">
            <img
              src="/img/index/avatar.jpg"
              width="50"
              height="50"
              alt="avatar"
            />
          </div>
          <div class="feedback-name-box">
            <p class="feedback-card-names">Wahid Ari</p>
            <span class="feedback-card-names-part">Designer</span>
          </div>
        </div>
      </li>
      <li class="feedback-item">
        <svg width="106" height="18">
          <use href="/img/index/icons.svg#icon-stars"></use>
        </svg>
        <p class="feedback-card-txt">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="feedback-box">
          <div class="feedback-box-avatar">
            <img
              src="/img/index/avatar.jpg"
              width="50"
              height="50"
              alt="avatar"
            />
          </div>
          <div class="feedback-name-box">
            <p class="feedback-card-names">Wahid Ari</p>
            <span class="feedback-card-names-part">Designer</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- #endregion Feedback -->
