<section class="wrapper-section">
  <div class="container flex-container">
    <svg width="540" height="500">
      <use href="../img/index/support-img.svg#img"></use>
    </svg>
    <div class="support-box">
      <h2 class="secondary-title">
        Easier decision making for
        <span class="secondary-title-part">Customer Support</span>
      </h2>
      <p>
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="sections-list">
        <li class="support-list-item">
          <div class="support-icon-box">
            <svg width="16" height="12">
              <use href="../img/index/icons.svg#icon-tick"></use>
            </svg>
          </div>
          <p>Never worry about overpaying for your energy again.</p>
        </li>
        <li class="support-list-item">
          <div class="support-icon-box">
            <svg width="16" height="12">
              <use href="../img/index/icons.svg#icon-tick"></use>
            </svg>
          </div>
          <p>
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="support-list-item">
          <div class="support-icon-box">
            <svg width="16" height="12">
              <use href="../img/index/icons.svg#icon-tick"></use>
            </svg>
          </div>
          <p>We track the markets daily and know where the savings are.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
