<section class="wrapper-section">
  <div class="container flex-container">
    <div class="management-box">
      <h2 class="secondary-title">
        Effortless Validation for
        <span class="secondary-title-part">Management</span>
      </h2>
      <p>
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="sections-list">
        <li>
          <h3 class="management-item-title">Accessory makers</h3>
          <p>
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li>
          <h3 class="management-item-title">Alterationists</h3>
          <p>
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <svg width="540" height="500">
      <use href="../img/index/management-img.svg#mgmnt-img"></use>
    </svg>
  </div>
</section>
