<section class="hero">
  <div class="container flex-container">
    <div class="hero-wrap">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-txt">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="hero-bttn-list">
        <li>
          <button type="button" class="hero-bttn start-bttn">
            Get started
          </button>
        </li>
        <li>
          <button type="button" class="hero-bttn watch-bttn">
            <img
              src="img/index/Triangle.svg"
              width="20"
              height="18"
              alt="triang"
            />
            Watch the Video
          </button>
        </li>
      </ul>
    </div>
    <svg width="610" height="555">
      <use href="img/index/hero-img.svg#hero-img"></use>
    </svg>
  </div>
</section>
