<section class="feature">
  <div class="container">
    <h2 class="secondary-title-part">Product was Built Specifically for You</h2>
    <ul class="feature-list">
      <li class="feature-item">
        <div class="feature-icon-box">
          <svg class="icon" width="11px" height="18px">
            <use href="img/index/feature-icon.svg#icon-1"></use>
          </svg>
        </div>
        <h3 class="feature-item-title">First click tests</h3>
        <p>While most people enjoy casino gambling,</p>
      </li>
      <li class="feature-item">
        <div class="feature-icon-box">
          <svg class="icon" width="18px" height="18px">
            <use href="img/index/feature-icon.svg#icon-2"></use>
          </svg>
        </div>
        <h3 class="feature-item-title">Design surveys</h3>
        <p>Sports betting, lottery and bingo playing for the fun</p>
      </li>
      <li class="feature-item">
        <div class="feature-icon-box">
          <svg class="icon" width="16px" height="18px">
            <use href="img/index/feature-icon.svg#icon-3"></use>
          </svg>
        </div>
        <h3 class="feature-item-title">Preference tests</h3>
        <p>The Myspace page defines the individual.</p>
      </li>
      <li class="feature-item">
        <div class="feature-icon-box">
          <svg class="icon" width="14px" height="18px">
            <use href="img/index/feature-icon.svg#icon-4"></use>
          </svg>
        </div>
        <h3 class="feature-item-title">Five second tests</h3>
        <p class="feature-item-txt">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <button type="button" class="feature-bttn">Sign up now</button>
  </div>
</section>
