<!-- Product-features -->
<section class="wrapper-products_feature sub-back-color">
  <div class="container flex-column">
    <h2 class="pricing-sub-title">Why Choose Product?</h2>
    <ul class="products_feature-list">
      <li class="products_feature-item">
        <div class="feature-icon-box">
          <svg class="icon" width="11px" height="18px">
            <use href="img/index/feature-icon.svg#icon-1"></use>
          </svg>
        </div>
        <h3 class="products_feature-item-title">Special Business</h3>
        <p class="products_feature-item-txt">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
      <li class="products_feature-item">
        <div class="feature-icon-box">
          <svg class="icon" width="18" height="18">
            <use href="img/index/feature-icon.svg#icon-2"></use>
          </svg>
        </div>
        <h3 class="products_feature-item-title">Instant Result</h3>
        <p class="products_feature-item-txt">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
      <li class="products_feature-item">
        <div class="feature-icon-box">
          <svg class="icon" width="16" height="18">
            <use href="img/index/feature-icon.svg#icon-3"></use>
          </svg>
        </div>
        <h3 class="products_feature-item-title">Fastest way to organize</h3>
        <p class="products_feature-item-txt">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
    </ul>
  </div>
</section>
