<!-- How Work -->
<section class="wrapper-section">
  <div class="container flex-column">
    <h2 class="pricing-sub-title">How Product Work?</h2>
    <ul>
      <li class="how_works-item">
        <img
          width="500"
          height="280"
          src="/img/customers/mac1.png"
          alt="mac product"
        />
        <div class="how_works-box">
          <h3 class="how_works-item-title">
            <span class="how_works-item-sub_title">Step 1</span><br />Apply for
            a product
          </h3>
          <p class="how_works-item-txt">
            Completing our easy step-by-step application form gives you access
            to multiple business with multiple products. We analyse your
            business through our proprietary credit analysis technology.
          </p>
        </div>
      </li>
      <li class="how_works-item">
        <div>
          <h3 class="how_works-item-title">
            <span class="how_works-item-sub_title">Step 2</span><br />Pay fully
            refundable
          </h3>
          <p class="how_works-item-txt">
            Product will contactting you instantly to receive payment of the
            Application Fee. if no offer of product is available, your fee will
            be fully refunded.
          </p>
        </div>
        <img
          width="500"
          height="280"
          src="/img/customers/mac2.png"
          alt="mac product"
        />
      </li>
      <li class="how_works-item">
        <img
          width="500"
          height="280"
          src="/img/customers/mac3.png"
          alt="mac product"
        />
        <div>
          <h3 class="how_works-item-title">
            <span class="how_works-item-sub_title">Step 3</span><br />Completion
          </h3>
          <p class="how_works-item-txt">
            Product will continue to liase between borrower and manager to
            procees and complete a quick and efficient settlement
          </p>
        </div>
      </li>
    </ul>
    <button type="button" class="enterprise-bttn">Get in touch with us</button>
  </div>
</section>
