<!-- offers -->
<section class="wrapper-section-offers sub-back-gradient">
  <div class="container flex-column">
    <h2 class="enterprise-secondary-title">
      Join thousand of other who have already received offers
    </h2>
    <ul class="products_feature-list">
      <li class="offers-item">
        <div class="offers-icon-box">
          <img src="./images/customers/Business-icon.svg" alt="" />
        </div>
        <strong class="offers-list-title">Business</strong>
        <ul class="offers-list">
          <li class="offers-item">
            <p>Cash Flow</p>
          </li>
          <li class="offers-item">
            <p>Asset Backed</p>
          </li>
          <li class="offers-item">
            <p>Receivables Finance</p>
          </li>
        </ul>
        <p class="offers-list-end-title">Find the best business product</p>
      </li>
      <li class="offers-item">
        <div class="offers-icon-box">
          <img src="./images/customers/Enterprise-icon.svg" alt="" />
        </div>
        <strong class="offers-list-title">Enterprise</strong>
        <ul class="offers-list">
          <li class="offers-item">
            <p>Site Acquisition</p>
          </li>
          <li class="offers-item">
            <p>Bridge</p>
          </li>
          <li class="offers-item">
            <p>Development Financing</p>
          </li>
        </ul>
        <p class="offers-list-end-title">Find the best business product</p>
      </li>
    </ul>
  </div>
</section>
