<!-- hero our-clients -->
<section class="wrapper-customer">
  <div class="continer-customer-hero">
    <h1 class="pricing-sub-title">Our Clients</h1>
    <ul class="customers-clients-list">
      <li>
        <img src="./images/customers/Airbnb-Logo.svg" alt="airbnb logos" />
      </li>
      <li>
        <img src="./images/customers/Google-Logo.svg" alt="google logo" />
      </li>
      <li>
        <img src="./images/customers/Microsoft-Logo.svg" alt="MS logo" />
      </li>
      <li>
        <img src="./images/customers/FedEx-Logo.svg" alt="FedEx logo" />
      </li>
    </ul>
  </div>
</section>
