<!-- #region Hero -->
<section class="res_hero-wrapp">
  <div class="container flex-container">
    <div class="res_hero-box">
      <h1 class="res-title">
        Great Business<br />
        made with Product.
      </h1>
      <p class="res_hero-txt">
        Build better customer relationships easily messaging that provides a
        more personal experience for you and your customers.
      </p>
      <form class="res_hero-form">
        <div class="res_hero-input-box">
          <input
            class="res_hero-input"
            type="email"
            name="user-email"
            id="hero-inpur"
            placeholder="Enter your email adress"
          /><button type="submit" class="res_hero-bttn">Join Now</button>
        </div>
      </form>
      <div class="res_hero-social-box">
        <img
          class="res_hero_soc-photo"
          src="img/resources/Oval.png"
          alt="1st"
          width="50"
          height="50"
        />
        <img
          class="res_hero_soc-photo_sec"
          src="img/resources/Oval-1.png"
          alt="1st"
          width="50"
          height="50"
        />
        <img
          class="res_hero_soc-photo_third"
          src="img/resources/Oval-2.png"
          alt="1st"
          width="50"
          height="50"
        />
        <p class="res_hero-social-txt">
          Join over <span class="greeny">4,000</span>+ other
        </p>
      </div>
    </div>
    <div class="hero-image"></div>
  </div>
</section>
<!-- #endregion Hero -->
