<!-- #region Contacts -->
<section class="res_contacts-wrapper">
  <div class="res_contacts-container">
    <h2 class="res_sec-title">Contact Us</h2>
    <p class="res_contacts-txt">
      Need more detailed information? <br />Get in touch with us.
    </p>
    <!--#region Social bttns box -->
    <ul class="footer-social-list">
      <li class="footer-social-icon-box">
        <a href="#" class="footer-social-icon">
          <svg width="25" height="25">
            <use href="img/index/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-icon-box">
        <a href="#" class="footer-social-icon">
          <svg width="25" height="25">
            <use href="img/index/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-icon-box">
        <a href="#" class="footer-social-icon">
          <svg width="25" height="25">
            <use href="img/index/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- #endregion  Social bttns box-->
    <div class="res_contacts-map-box"></div>
    <div class="res_form-box">
      <form>
        <p class="res_form-title">Send a message</p>
        <input
          class="res_form-input"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Your Name"
          required
        />
        <input
          class="res_form-input"
          type="email"
          name="user-email"
          id="user-email"
          placeholder="Your Email"
          required
        />
        <textarea
          class="res_form-message"
          name="user-message"
          id="user-message"
          placeholder="Your Message"
        ></textarea>
        <button type="submit" class="res_form_bttn">Send</button>
      </form>
    </div>
  </div>
</section>
<!-- #endregion COntacts -->
