<!-- #region Stories  -->
<section class="res_sec_wrapper">
  <div class="container flex-container">
    <h2 class="res_sec-title">Latest Stories</h2>
    <p class="res_sec-txt">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>
    <ul class="res_sec-list">
      <li class="res_sec-item">
        <img
          width="348"
          height="187"
          src="img/resources/ImagePlaceholder.png"
          alt="project images"
        />
        <div class="res_sec-card">
          <h3 class="res_sec-list-title">
            By <span class="strong-txt">Wahid Ari</span> | 03 March 2019
          </h3>
          <p class="res_sec-list-txt">
            Increasing Prosperity With Positive Thinking
          </p>
        </div>
      </li>
      <li class="res_sec-item">
        <img
          width="348"
          height="187"
          src="img/resources/ImagePlaceholder-1.png"
          alt="project images"
        />
        <div class="res_sec-card">
          <h3 class="res_sec-list-title">
            By <span class="strong-txt">Wahid Ari</span> | 03 March 2019
          </h3>
          <p class="res_sec-list-txt">
            Motivation Is The First Step To Success
          </p>
        </div>
      </li>
      <li class="res_sec-item">
        <img
          width="348"
          height="187"
          src="img/resources/ImagePlaceholder-2.png"
          alt="project images"
        />
        <div class="res_sec-card">
          <h3 class="res_sec-list-title">
            By <span class="strong-txt">Wahid Ari</span> | 03 March 2019
          </h3>
          <p class="res_sec-list-txt">
            Success Steps For Your Personal Or Business
          </p>
        </div>
      </li>
      <li class="res_sec-item">
        <img
          width="348"
          height="187"
          src="img/resources/ImagePlaceholder-3.png"
          alt="project images"
        />
        <div class="res_sec-card">
          <h3 class="res_sec-list-title">
            By <span class="strong-txt">Wahid Ari</span> | 03 March 2019
          </h3>
          <p class="res_sec-list-txt">
            Increasing Prosperity With Positive Thinking
          </p>
        </div>
      </li>
      <li class="res_sec-item">
        <img
          width="348"
          height="187"
          src="img/resources/ImagePlaceholder-4.png"
          alt="project images"
        />
        <div class="res_sec-card">
          <h3 class="res_sec-list-title">
            By <span class="strong-txt">Wahid Ari</span> | 03 March 2019
          </h3>
          <p class="res_sec-list-txt">
            Motivation Is The First Step To Success
          </p>
        </div>
      </li>
      <li class="res_sec-item">
        <img
          width="348"
          height="187"
          src="img/resources/ImagePlaceholder-5.png"
          alt="project images"
        />
        <div class="res_sec-card">
          <h3 class="res_sec-list-title">
            By <span class="strong-txt">Wahid Ari</span> | 03 March 2019
          </h3>
          <p class="res_sec-list-txt">
            Success Steps For Your Personal Or Business
          </p>
        </div>
      </li>
    </ul>
    <a href="#" class="res_sec-more-box">
      <p class="res_sec-more-txt">More Stories</p>
      <img width="20" height="20" src="img/resources/circle_right.svg" alt="" />
    </a>
  </div>
</section>
<!-- #endregion Stories -->
