<footer class="wrapper-section">
  <div class="container">
    <div class="footer-box">
      <div class="footer-logo_social-box">
        <div class="footer-logo-box">
          <svg width="40" height="36">
            <use href="img/index/logo.svg#logo"></use>
          </svg>
          <a href="./index.html" class="logo">Product</a>
        </div>
        <!--#region Social bttns box -->
        <ul class="footer-social-list">
          <li class="footer-social-icon-box">
            <a href="#" class="footer-social-icon">
              <svg width="24px" height="24px">
                <use href="img/index/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-icon-box">
            <a href="#" class="footer-social-icon">
              <svg width="24px" height="24px">
                <use href="img/index/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-icon-box">
            <a href="#" class="footer-social-icon">
              <svg width="24px" height="24px">
                <use href="img/index/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- #endregion  Social bttns box-->
      </div>
      <nav class="footer-nav">
        <h3 class="footer-title">Resource</h3>
        <ul>
          <li class="footer-item"><a href="#">About Us</a></li>
          <li class="footer-item"><a href="#">Blog</a></li>
          <li class="footer-item"><a href="#">Contacts</a></li>
          <li class="footer-item"><a href="#">FAQ</a></li>
        </ul>
      </nav>
      <div class="footer-legal">
        <h3 class="footer-title">Legal Stuff</h3>
        <ul>
          <li class="footer-item"><a href="#">Disclaimer</a></li>
          <li class="footer-item"><a href="#">Financing</a></li>
          <li class="footer-item"><a href="#">Privacy Policy</a></li>
          <li class="footer-item"><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="footer-subscribe">
        <h2 class="footer-title">
          knowing you're always on the best energy deal.
        </h2>
        <div style="position: relative">
          <input
            class="footer-form"
            name="user-email"
            id="user-email"
            placeholder="Enter your phone number"
          /><svg class="footer-form-icon" width="18px" height="28px">
            <use href="img/index/icons.svg#icon-phone"></use>
          </svg>
        </div>
        <button type="button" class="footer-form-bttn">Sign up Now</button>
      </div>
    </div>

    <p class="footer-right">Made With Love By Figmaland All Right Reserved</p>
  </div>
</footer>
