<header>
  <div class="container flex-container">
    <nav class="nav">
      <svg width="40" height="36">
        <use href="img/index/logo.svg#logo"></use>
      </svg>
      <a href="./index.html" class="logo">Product</a>
      <ul class="nav-list">
        <li><a href="./index.html" class="nav-link">Product</a></li>
        <li><a href="./pricing.html" class="nav-link">Pricing</a></li>
        <li><a href="./customers.html" class="nav-link">Customers</a></li>
        <li><a href="./resources.html" class="nav-link">Resources</a></li>
      </ul>
    </nav>
    <ul class="header-bttn-list">
      <li>
        <button type="button" class="header-bttn sign-in-bttn">Sign In</button>
      </li>
      <li>
        <button type="button" class="header-bttn sign-up-bttn">Sign Up</button>
      </li>
    </ul>
  </div>
</header>
