/* #region Footer */
.footer-box .logo {
  margin: 0;
}
.footer-box {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 16px;
}
.footer-logo_social-box {
  display: flex;
  flex-direction: column;
  margin-right: 146px;
  gap: 18px;
}
.footer-logo-box {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-nav {
  margin-right: 129px;
  min-width: 118px;
}
.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.footer-item {
  line-height: 2.1875;
}
.footer-legal {
  margin-right: 83px;
  min-width: 132px;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.footer-subscribe .footer-title {
  width: 280px;
  margin: 0;
}
.footer-form {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  outline: none;
  background-color: transparent;
  padding: 10px 42px;
  line-height: 1.75;
  color: #02897a;
}
.footer-form::placeholder {
  line-height: 1.75;
  color: #02897a;
}
.footer-form:hover,
.footer-form:focus {
  border: 1px solid #02897a;
}
.footer-form-bttn {
  padding: 10px 14px;
  color: #fff;
  font-weight: 700;
  background: #02897a;
  max-width: 134px;
  max-height: 40px;
}
.footer-form-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  fill: #02897a;
  transform: translatey(-50%);
}
.footer-right {
  text-align: center;
  line-height: 1.875;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-icon-box {
  width: 40px;
  height: 40px;
  transition: transform 250ms ease-out;
}
.footer-social-icon-box:hover {
  transform: translateY(-4px);
}
.footer-social-icon-box:active {
  transform: translateY(-2px);
}
.footer-social-icon {
  border-radius: 50%;
  background-color: #edfffc;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #02897a;
  fill: transparent;
  height: 100%;
  transition: box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 50ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon-box:hover .footer-social-icon {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15), 0 8px 12px rgba(0, 0, 0, 0.1);
  background-color: #02897a;
  stroke: #ffffff;
}
/* #endregion Footer */
