/* #region header */
.nav {
  display: flex;
  align-items: center;
  margin-right: 73px;
}
.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  margin-right: 237px;
  margin-left: 16px;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-link {
  display: block;
  line-height: 1.75;
  padding: 26px 0;
  transition: font-weight 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.current {
  font-weight: 600;
}
.header-bttn-list {
  align-items: center;
  display: flex;
  gap: 21px;
}
.header-bttn {
  padding: 10px 24px;
}
.sign-in-bttn {
  border: 1px solid #bcd0e5;
  color: #173a56;
  background-color: transparent;
}
.sign-up-bttn {
  background: #02897a;
  color: #fff;
}
/* #endregion header */
