<!-- FAQ -->
<section class="wrapper-faq">
  <div class="container flex-column">
    <h2 class="enterprise-secondary-title">Frequently asked question</h2>
    <p class="enterprise-txt">
      Something is not clear? You need help? Check our FAQ section
    </p>
    <ul class="faq-list">
      <li>
        <details class="faq-det-list">
          <summary class="faq-summ-txt">What are my payment option?</summary>
          After creating your account you will have an oppurtunity to create
          your first project that will be associated withthe collaborators
          e-mail. An invitation will be sent automatically. Then, invited user
          will have to confirm his account by e-mail and finish userd
          onboarding.
        </details>
        <hr class="faq-list-line" />
      </li>
      <li>
        <details class="faq-det-list">
          <summary class="faq-summ-txt">
            How can I invite collaborator to platform?
          </summary>
          After creating your account you will have an oppurtunity to create
          your first project that will be associated withthe collaborators
          e-mail. An invitation will be sent automatically. Then, invited user
          will have to confirm his account by e-mail and finish userd
          onboarding.
        </details>
        <hr class="faq-list-line" />
      </li>
      <li>
        <details class="faq-det-list">
          <summary class="faq-summ-txt">Can I upgrade my plan?</summary>
          After creating your account you will have an oppurtunity to create
          your first project that will be associated withthe collaborators
          e-mail. An invitation will be sent automatically. Then, invited user
          will have to confirm his account by e-mail and finish userd
          onboarding.
        </details>
        <hr class="faq-list-line" />
      </li>
      <li>
        <details class="faq-det-list">
          <summary class="faq-summ-txt">
            Can I cancel my plan at anytime?
          </summary>
          After creating your account you will have an oppurtunity to create
          your first project that will be associated withthe collaborators
          e-mail. An invitation will be sent automatically. Then, invited user
          will have to confirm his account by e-mail and finish userd
          onboarding.
        </details>
        <hr class="faq-list-line" />
      </li>
    </ul>
  </div>
</section>
