<!-- ENTERPRISE -->
<section class="wrapper-enterprise sub-back-gradient">
  <div class="container flex-column">
    <h2 class="enterprise-title-main">Enterprise</h2>
    <strong class="enterprise-secondary-title"
      >Are you interested in a custom-tailored plan?</strong
    >
    <p class="enterprise-txt">
      Product is a set of advanced features for really large teams with
      projects.
    </p>
    <button class="enterprise-bttn" type="button">Get in touch with us</button>
  </div>
</section>
